/ {
    aliases {
        led0 = &my_led0;
        led1 = &my_led1;
        led2 = &my_led2;
    };

    leds {
        compatible = "gpio-leds";
        my_led0: led_0 {
            /* Red LED on P0.08 of the nRF52840 Dongle */
            gpios = <&gpio0 8 GPIO_ACTIVE_LOW>;
            label = "My Custom Red LED";
        };
        my_led1: led_1 {
            /* Green LED on P1.09 of the nRF52840 Dongle */
            gpios = <&gpio1 9 GPIO_ACTIVE_LOW>;
            label = "My Custom Green LED";
        };
        my_led2: led_2 {
            /* Blue LED on P0.12 of the nRF52840 Dongle */
            gpios = <&gpio0 12 GPIO_ACTIVE_LOW>;
            label = "My Custom Blue LED";
        };
    };
};